

body{
    background-image: url('https://eecs.ku.edu/sites/all/themes/ku_template_2012_3col/logo.png');
    background-position: center;
  
  }
  
  ul {
    list-style-type: square;
  }
  
  ul li {
    margin-bottom: 10px;
    box-shadow:  -2em 0 #ffffff
  }
  
  .white-bg {
    background-color: #FFFFFF;
    padding: 10px;
  }
  